<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>No food for dayan</title>

    <link href="../static/output.css" rel="stylesheet">
</head>
<body class="font-sans">

    <div class="HomeScreenHomeView w-[1440px] h-[1024px] relative bg-slate-800">
        <div
            class="Rectangle128 w-[411px] h-[54px] left-[340px] top-[148px] absolute bg-slate-700 rounded-[19px] border border-slate-500">
        </div>
        <div
            class="IconamoonSearchBold w-7 h-7 p-[3.50px] left-[362px] top-[161px] absolute justify-center items-center inline-flex">
        </div>
        <div
            class="NavbarBackground w-[293px] h-[1024px] left-0 top-0 absolute flex-col justify-center items-center inline-flex">
            <div class="Rectangle2 w-[293px] h-[1024px] bg-blue-500"></div>
        </div>
        <div class="Tonight left-[334px] top-[248px] absolute text-white text-[40px] font-extrabold">
            Tonight</div>
        <div
            class="SearchForATaa w-[197px] left-[417px] top-[163px] absolute text-slate-400 text-xl font-semibold">
            Search for a TAA...</div>
        <div class="Tomorrow left-[334px] top-[697px] absolute text-white text-[40px] font-extrabold">
            Tomorrow</div>
        <div
            class="HoverColour w-[261px] h-[65px] left-[16px] top-[153px] absolute justify-center items-center inline-flex">
            <div class="Rectangle119 w-[261px] h-[65px] bg-blue-600 rounded-[17px]"></div>
        </div>
        <div class="TaaOnHomePage w-[1045px] h-[85px] left-[332px] top-[310px] absolute">
            <div
                class="Rectangle127 w-[1045px] h-[85px] left-0 top-0 absolute bg-slate-800 border-t border-b border-slate-700">
            </div>
            <div
                class="RequestToImproveXxx left-[13.38px] top-[16px] absolute text-white text-2xl font-medium">
                Maintanence between Bukit Panjang and Cashew </div>
            <div
                class="Frame5 w-[219.30px] h-[14.68px] left-[13.38px] top-[56px] absolute justify-start items-center gap-2 inline-flex">
                <div class="S123456789a text-white text-base font-normal">SBST123456789A</div>
                <div class=" text-white text-base font-normal">•</div>
                <div class="Ongoing text-green-400 text-base font-bold">Ongoing</div>
                <div class=" text-white text-base font-normal">•</div>
                <div class="Tar text-blue-500 text-base font-normal">TAR</div>
            </div>
            <div
                class="IconoirOpenNewWindow w-[24.71px] h-6 px-[3.09px] py-[3px] left-[989.40px] top-[30px] absolute justify-center items-center inline-flex">
                <div class="Group w-[18.53px] h-[18px] relative">
                </div>
            </div>
            <div class="Frame10 left-[721px] top-[18px] absolute justify-start items-center gap-4 inline-flex">
                <div class="Group29 w-[46px] h-[46px] relative">
                    <div class="Ellipse4 w-[46px] h-[46px] left-0 top-0 absolute bg-cyan-700 rounded-full"></div>
                    <div class="A left-[14px] top-[7px] absolute text-white text-[25px] font-medium">A
                    </div>
                </div>
                <div class="Group30 w-[46px] h-[46px] relative">
                    <div class="Ellipse5 w-[46px] h-[46px] left-0 top-0 absolute bg-purple-900 rounded-full"></div>
                    <div class="C left-[14px] top-[8px] absolute text-white text-[25px] font-medium">C
                    </div>
                </div>
                <div class="Group31 w-[46px] h-[46px] relative">
                    <div class="Ellipse6 w-[46px] h-[46px] left-0 top-0 absolute bg-orange-900 rounded-full"></div>
                    <div class="I left-[19px] top-[7px] absolute text-white text-[25px] font-medium">I
                    </div>
                </div>
                <div class="Group32 w-[46px] h-[46px] relative">
                    <div class="Ellipse7 w-[46px] h-[46px] left-0 top-0 absolute bg-slate-700 rounded-full"></div>
                    <div class="12 left-[6px] top-[12px] absolute text-white text-lg font-medium">+12
                    </div>
                </div>
            </div>
        </div>
        <div class="Component2 w-[1045px] h-[85px] left-[332px] top-[393px] absolute">
            <div
                class="Rectangle127 w-[1045px] h-[85px] left-0 top-0 absolute bg-slate-800 border-t border-b border-slate-700">
            </div>
            <div
                class="RequestToImproveXxx left-[13.38px] top-[16px] absolute text-white text-2xl font-medium">
                Extend tracks by 100m for Cross Island Line</div>
            <div
                class="Frame5 w-[219.30px] h-[14.68px] left-[13.38px] top-[56px] absolute justify-start items-center gap-2 inline-flex">
                <div class="S123456789a text-white text-base font-normal">SMRT123453289A</div>
                <div class=" text-white text-base font-normal">•</div>
                <div class="Ongoing text-green-400 text-base font-bold">Ongoing</div>
                <div class=" text-white text-base font-normal">•</div>
                <div class="Tar text-violet-500 text-base font-normal">EWR</div>
            </div>
            <div
                class="IconoirOpenNewWindow w-[24.71px] h-6 px-[3.09px] py-[3px] left-[989.40px] top-[30px] absolute justify-center items-center inline-flex">
                <div class="Group w-[18.53px] h-[18px] relative">
                </div>
            </div>
            <div class="Frame10 left-[721px] top-[18px] absolute justify-start items-center gap-4 inline-flex">
                <div class="Group29 w-[46px] h-[46px] relative">
                    <div class="Ellipse4 w-[46px] h-[46px] left-0 top-0 absolute bg-cyan-700 rounded-full"></div>
                    <div class="A left-[14px] top-[7px] absolute text-white text-[25px] font-medium">A
                    </div>
                </div>
                <div class="Group30 w-[46px] h-[46px] relative">
                    <div class="Ellipse5 w-[46px] h-[46px] left-0 top-0 absolute bg-purple-900 rounded-full"></div>
                    <div class="C left-[14px] top-[8px] absolute text-white text-[25px] font-medium">C
                    </div>
                </div>
                <div class="Group31 w-[46px] h-[46px] relative">
                    <div class="Ellipse6 w-[46px] h-[46px] left-0 top-0 absolute bg-orange-900 rounded-full"></div>
                    <div class="I left-[19px] top-[7px] absolute text-white text-[25px] font-medium">I
                    </div>
                </div>
                <div class="Group32 w-[46px] h-[46px] relative">
                    <div class="Ellipse7 w-[46px] h-[46px] left-0 top-0 absolute bg-slate-700 rounded-full"></div>
                    <div class="12 left-[6px] top-[12px] absolute text-white text-lg font-medium">+12
                    </div>
                </div>
            </div>
        </div>
        <div class="Component3 w-[1045px] h-[85px] left-[332px] top-[477px] absolute">
            <div
                class="Rectangle127 w-[1045px] h-[85px] left-0 top-0 absolute bg-slate-800 border-t border-b border-slate-700">
            </div>
            <div
                class="RequestToImproveXxx left-[13.38px] top-[16px] absolute text-white text-2xl font-medium">
                Improving tracks to fit new train model at Canberra</div>
            <div
                class="Frame5 w-[219.30px] h-[14.68px] left-[13.38px] top-[56px] absolute justify-start items-center gap-2 inline-flex">
                <div class="S123456789a text-white text-base font-normal">SBST123463569A</div>
                <div class=" text-white text-base font-normal">•</div>
                <div class="Ongoing text-green-400 text-base font-bold">Ongoing</div>
                <div class=" text-white text-base font-normal">•</div>
                <div class="Tar text-blue-500 text-base font-normal">TAR</div>
            </div>
            <div
                class="IconoirOpenNewWindow w-[24.71px] h-6 px-[3.09px] py-[3px] left-[989.40px] top-[30px] absolute justify-center items-center inline-flex">
                <div class="Group w-[18.53px] h-[18px] relative">
                </div>
            </div>
            <div class="Frame10 left-[721px] top-[18px] absolute justify-start items-center gap-4 inline-flex">
                <div class="Group29 w-[46px] h-[46px] relative">
                    <div class="Ellipse4 w-[46px] h-[46px] left-0 top-0 absolute bg-cyan-700 rounded-full"></div>
                    <div class="A left-[14px] top-[7px] absolute text-white text-[25px] font-medium">A
                    </div>
                </div>
                <div class="Group30 w-[46px] h-[46px] relative">
                    <div class="Ellipse5 w-[46px] h-[46px] left-0 top-0 absolute bg-purple-900 rounded-full"></div>
                    <div class="C left-[14px] top-[8px] absolute text-white text-[25px] font-medium">C
                    </div>
                </div>
                <div class="Group31 w-[46px] h-[46px] relative">
                    <div class="Ellipse6 w-[46px] h-[46px] left-0 top-0 absolute bg-orange-900 rounded-full"></div>
                    <div class="I left-[19px] top-[7px] absolute text-white text-[25px] font-medium">I
                    </div>
                </div>
                <div class="Group32 w-[46px] h-[46px] relative">
                    <div class="Ellipse7 w-[46px] h-[46px] left-0 top-0 absolute bg-slate-700 rounded-full"></div>
                    <div class="12 left-[6px] top-[12px] absolute text-white text-lg font-medium">+12
                    </div>
                </div>
            </div>
        </div>
        <div class="Component5 w-[1045px] h-[85px] left-[332px] top-[759px] absolute">
            <div
                class="Rectangle127 w-[1045px] h-[85px] left-0 top-0 absolute bg-slate-800 border-t border-b border-slate-700">
            </div>
            <div
                class="RequestToImproveXxx left-[13.38px] top-[16px] absolute text-white text-2xl font-medium">
                Installation of train doors at Hume station</div>
            <div
                class="Frame5 w-[219.30px] h-[14.68px] left-[13.38px] top-[56px] absolute justify-start items-center gap-2 inline-flex">
                <div class="S123456789a text-white text-base font-normal">SMRT123456789A</div>
                <div class=" text-white text-base font-normal">•</div>
                <div class="Ongoing text-slate-400 text-base font-bold">Upcoming</div>
                <div class=" text-white text-base font-normal">•</div>
                <div class="Tar text-violet-500 text-base font-normal">EWR</div>
            </div>
            <div
                class="IconoirOpenNewWindow w-[24.71px] h-6 px-[3.09px] py-[3px] left-[989.40px] top-[30px] absolute justify-center items-center inline-flex">
                <div class="Group w-[18.53px] h-[18px] relative">
                </div>
            </div>
            <div class="Frame10 left-[721px] top-[18px] absolute justify-start items-center gap-4 inline-flex">
                <div class="Group29 w-[46px] h-[46px] relative">
                    <div class="Ellipse4 w-[46px] h-[46px] left-0 top-0 absolute bg-cyan-700 rounded-full"></div>
                    <div class="A left-[14px] top-[7px] absolute text-white text-[25px] font-medium">A
                    </div>
                </div>
                <div class="Group30 w-[46px] h-[46px] relative">
                    <div class="Ellipse5 w-[46px] h-[46px] left-0 top-0 absolute bg-purple-900 rounded-full"></div>
                    <div class="C left-[14px] top-[8px] absolute text-white text-[25px] font-medium">C
                    </div>
                </div>
                <div class="Group31 w-[46px] h-[46px] relative">
                    <div class="Ellipse6 w-[46px] h-[46px] left-0 top-0 absolute bg-orange-900 rounded-full"></div>
                    <div class="I left-[19px] top-[7px] absolute text-white text-[25px] font-medium">I
                    </div>
                </div>
                <div class="Group32 w-[46px] h-[46px] relative">
                    <div class="Ellipse7 w-[46px] h-[46px] left-0 top-0 absolute bg-slate-700 rounded-full"></div>
                    <div class="12 left-[6px] top-[12px] absolute text-white text-lg font-medium">+12
                    </div>
                </div>
            </div>
        </div>
        <div class="Component6 w-[1045px] h-[85px] left-[332px] top-[842px] absolute">
            <div
                class="Rectangle127 w-[1045px] h-[85px] left-0 top-0 absolute bg-slate-800 border-t border-b border-slate-700">
            </div>
            <div
                class="RequestToImproveXxx left-[13.38px] top-[16px] absolute text-white text-2xl font-medium">
                Quality checks at Prince Edward Station</div>
            <div
                class="Frame5 w-[219.30px] h-[14.68px] left-[13.38px] top-[56px] absolute justify-start items-center gap-2 inline-flex">
                <div class="S123456789a text-white text-base font-normal">SBST123456789A</div>
                <div class=" text-white text-base font-normal">•</div>
                <div class="Ongoing text-slate-400 text-base font-bold">Upcoming</div>
                <div class=" text-white text-base font-normal">•</div>
                <div class="Tar text-blue-500 text-base font-normal">TAR</div>
            </div>
            <div
                class="IconoirOpenNewWindow w-[24.71px] h-6 px-[3.09px] py-[3px] left-[989.40px] top-[30px] absolute justify-center items-center inline-flex">
                <div class="Group w-[18.53px] h-[18px] relative">
                </div>
            </div>
            <div class="Frame10 left-[721px] top-[18px] absolute justify-start items-center gap-4 inline-flex">
                <div class="Group29 w-[46px] h-[46px] relative">
                    <div class="Ellipse4 w-[46px] h-[46px] left-0 top-0 absolute bg-cyan-700 rounded-full"></div>
                    <div class="A left-[14px] top-[7px] absolute text-white text-[25px] font-medium">A
                    </div>
                </div>
                <div class="Group30 w-[46px] h-[46px] relative">
                    <div class="Ellipse5 w-[46px] h-[46px] left-0 top-0 absolute bg-purple-900 rounded-full"></div>
                    <div class="C left-[14px] top-[8px] absolute text-white text-[25px] font-medium">C
                    </div>
                </div>
                <div class="Group31 w-[46px] h-[46px] relative">
                    <div class="Ellipse6 w-[46px] h-[46px] left-0 top-0 absolute bg-orange-900 rounded-full"></div>
                    <div class="I left-[19px] top-[7px] absolute text-white text-[25px] font-medium">I
                    </div>
                </div>
                <div class="Group32 w-[46px] h-[46px] relative">
                    <div class="Ellipse7 w-[46px] h-[46px] left-0 top-0 absolute bg-slate-700 rounded-full"></div>
                    <div class="12 left-[6px] top-[12px] absolute text-white text-lg font-medium">+12
                    </div>
                </div>
            </div>
        </div>
        <div class="Component7 w-[1045px] h-[85px] left-[332px] top-[927px] absolute">
            <div
                class="Rectangle127 w-[1045px] h-[85px] left-0 top-0 absolute bg-slate-800 border-t border-b border-slate-700">
            </div>
            <div
                class="RequestToImproveXxx left-[13.38px] top-[16px] absolute text-white text-2xl font-medium">
                Installation of Access Points for internal network</div>
            <div
                class="Frame5 w-[219.30px] h-[14.68px] left-[13.38px] top-[56px] absolute justify-start items-center gap-2 inline-flex">
                <div class="S123456789a text-white text-base font-normal">SBST123456789A</div>
                <div class=" text-white text-base font-normal">•</div>
                <div class="Ongoing text-slate-400 text-base font-bold">Upcoming</div>
                <div class=" text-white text-base font-normal">•</div>
                <div class="Tar text-blue-500 text-base font-normal">TAR</div>
            </div>
            <div
                class="IconoirOpenNewWindow w-[24.71px] h-6 px-[3.09px] py-[3px] left-[989.40px] top-[30px] absolute justify-center items-center inline-flex">
                <div class="Group w-[18.53px] h-[18px] relative">
                </div>
            </div>
            <div class="Frame10 left-[721px] top-[18px] absolute justify-start items-center gap-4 inline-flex">
                <div class="Group29 w-[46px] h-[46px] relative">
                    <div class="Ellipse4 w-[46px] h-[46px] left-0 top-0 absolute bg-cyan-700 rounded-full"></div>
                    <div class="A left-[14px] top-[7px] absolute text-white text-[25px] font-medium">A
                    </div>
                </div>
                <div class="Group30 w-[46px] h-[46px] relative">
                    <div class="Ellipse5 w-[46px] h-[46px] left-0 top-0 absolute bg-purple-900 rounded-full"></div>
                    <div class="C left-[14px] top-[8px] absolute text-white text-[25px] font-medium">C
                    </div>
                </div>
                <div class="Group31 w-[46px] h-[46px] relative">
                    <div class="Ellipse6 w-[46px] h-[46px] left-0 top-0 absolute bg-orange-900 rounded-full"></div>
                    <div class="I left-[19px] top-[7px] absolute text-white text-[25px] font-medium">I
                    </div>
                </div>
                <div class="Group32 w-[46px] h-[46px] relative">
                    <div class="Ellipse7 w-[46px] h-[46px] left-0 top-0 absolute bg-slate-700 rounded-full"></div>
                    <div class="12 left-[6px] top-[12px] absolute text-white text-lg font-medium">+12
                    </div>
                </div>
            </div>
        </div>
        <div class="Component4 w-[1045px] h-[85px] left-[332px] top-[561px] absolute">
            <div
                class="Rectangle127 w-[1045px] h-[85px] left-0 top-0 absolute bg-slate-800 border-t border-b border-slate-700">
            </div>
            <div
                class="RequestToImproveXxx left-[13.38px] top-[16px] absolute text-white text-2xl font-medium">
                Checks for emergency track replacement at Petir Station</div>
            <div
                class="Frame5 w-[219.30px] h-[14.68px] left-[13.38px] top-[56px] absolute justify-start items-center gap-2 inline-flex">
                <div class="S123456789a text-white text-base font-normal">SMRT123456789A</div>
                <div class=" text-white text-base font-normal">•</div>
                <div class="Ongoing text-green-400 text-base font-bold">Ongoing</div>
                <div class=" text-white text-base font-normal">•</div>
                <div class="Tar text-violet-500 text-base font-normal">EWR</div>
            </div>
            <div
                class="IconoirOpenNewWindow w-[24.71px] h-6 px-[3.09px] py-[3px] left-[989.40px] top-[30px] absolute justify-center items-center inline-flex">
                <div class="Group w-[18.53px] h-[18px] relative">
                </div>
            </div>
            <div class="Frame10 left-[721px] top-[18px] absolute justify-start items-center gap-4 inline-flex">
                <div class="Group29 w-[46px] h-[46px] relative">
                    <div class="Ellipse4 w-[46px] h-[46px] left-0 top-0 absolute bg-cyan-700 rounded-full"></div>
                    <div class="A left-[14px] top-[7px] absolute text-white text-[25px] font-medium">A
                    </div>
                </div>
                <div class="Group30 w-[46px] h-[46px] relative">
                    <div class="Ellipse5 w-[46px] h-[46px] left-0 top-0 absolute bg-purple-900 rounded-full"></div>
                    <div class="C left-[14px] top-[8px] absolute text-white text-[25px] font-medium">C
                    </div>
                </div>
                <div class="Group31 w-[46px] h-[46px] relative">
                    <div class="Ellipse6 w-[46px] h-[46px] left-0 top-0 absolute bg-orange-900 rounded-full"></div>
                    <div class="I left-[19px] top-[7px] absolute text-white text-[25px] font-medium">I
                    </div>
                </div>
                <div class="Group32 w-[46px] h-[46px] relative">
                    <div class="Ellipse7 w-[46px] h-[46px] left-0 top-0 absolute bg-slate-700 rounded-full"></div>
                    <div class="12 left-[6px] top-[12px] absolute text-white text-lg font-medium">+12
                    </div>
                </div>
            </div>
        </div>
        <div class="AdminNavbar w-[293px] h-[1024px] left-0 top-0 absolute">
            <div class="Home left-[100px] top-[175px] absolute text-white text-xl font-semibold">Home
            </div>
            <div class="Workzones left-[100px] top-[253px] absolute text-white text-xl font-semibold">
                Workzones</div>
            <div class="Employees left-[100px] top-[327px] absolute text-white text-xl font-semibold">
                Employees</div>
            <div class="Taas left-[104px] top-[403px] absolute text-white text-xl font-semibold">TAAs
            </div>
            <div
                class="MaterialSymbolsHome w-10 h-10 px-[6.67px] py-[5px] left-[39px] top-[165px] absolute justify-center items-center inline-flex">
            </div>
            <div
                class="MdiConstruction w-10 h-10 px-[6.67px] pt-[3.33px] pb-[5px] left-[39px] top-[319px] absolute justify-center items-center inline-flex">
            </div>
            <div
                class="QuillPaper w-10 h-10 px-[7.50px] py-[3.75px] left-[39px] top-[395px] absolute justify-center items-center inline-flex">
                <div class="Group w-[25px] h-[32.50px] relative">
                </div>
            </div>
            <div
                class="LucideLandPlot w-10 h-10 px-[3.32px] pt-[3.33px] pb-[3.34px] left-[39px] top-[243px] absolute justify-center items-center inline-flex">
                <div class="Group w-[33.36px] h-[33.33px] relative">
                </div>
            </div>
            <div class="Rectangle139 w-[1440px] h-[108px] left-0 top-0 absolute bg-blue-500"></div>
            <div class="LtaPal left-[104px] top-[37px] absolute text-white text-3xl font-semibold">LTA
                Pal</div>
            <div
                class="IcSharpTrain w-[46px] h-[46px] px-[7.67px] pt-[3.83px] pb-[5.75px] left-[33px] top-[32px] absolute justify-center items-center inline-flex">
            </div>
            <div class="Group13 w-[332px] h-[58px] left-[388px] top-[25px] absolute">
                <div class="Rectangle140 w-[332px] h-[58px] left-0 top-0 absolute bg-blue-600 rounded-[13px]"></div>
                <div
                    class="QuickSearch left-[60px] top-[17px] absolute text-blue-300 text-xl font-medium">
                    Quick search...</div>
                <div
                    class="MingcuteSearchLine w-6 h-6 left-[20px] top-[17px] absolute justify-center items-center inline-flex">
                    <div class="Group w-6 h-6 relative">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<!-- <style>
    body {
      font-family: 'Inter', sans-serif;
    }
  </style> -->